# Node
node_modules/
npm-debug.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml

# Frontend build
frontend/build
frontend/node
target

# yarn (non zero-installs)
yarn-debug.log*
yarn-error.log*
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/.pnp
.pnp.js

# Vite
dist/
.vite/
vite.config.ts.timestamp-*

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log
*.log.*
debug.log
error.log

# Editor junk
# VS Code
.vscode/
.history/
*.code-workspace

# JetBrains
.idea/
*.iml

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary files
tmp/
temp/
*.tmp
*.swp
*.swo

# Coverage (if you add tests later)
coverage/

# Local environment files
.env
.env.*
node/node

.fake